@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --code-color: black;
  --code-bg-color: rgba(59, 131, 246, 0.311);
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

body {
  color: rgba(2, 2, 2, 0.753);
  @apply bg-slate-50
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

.banner-image {
  background-image: repeating-linear-gradient(90deg,
      white,
      rgba(255, 255, 255, 0.671) 20px,
      rgba(59, 131, 246, 0.311) 20px,
      rgb(59, 131, 246, 0.311) 40px);
}

p,
input,
label,
textarea,
th,
td,
button {
  @apply md:text-base text-sm
}

.btn-hover:hover {
  @apply bg-orange-200 bg-opacity-40 duration-150
}

.text-overflow {
  text-overflow: ellipsis;
}

.scroll-thin {
  scrollbar-width: thin;
}

.font-awesome-icon {
  @apply h-6 border-b-2 btn-hover p-2 m-1 rounded truncate hover:cursor-pointer
}

.nav-button {
  @apply border-b-2 btn-hover p-2 m-1 rounded truncate hover:cursor-pointer
}

.admin-button {
  @apply btn-hover p-1 rounded truncate
}

.input {
  @apply p-2 bg-slate-200 w-full px-2 border-b-2 rounded
}

img, input, textarea {
  @apply resize-none focus:outline-4 focus:outline-blue-200
}



.side-menu {
  position: absolute;
  right: 50%;
  @apply min-h-screen max-h-screen overflow-x-scroll bg-white rounded-md w-96;
}

.side-menu[open] {
  animation: slide-right 1000ms forwards;
}

.side-menu[closing] {
  display: block;
  pointer-events: none;
  animation: slide-left 500ms backwards;
}

.modal {
  inset: 0;
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
}

.modal-backdrop {
  @apply inset-0 bg-blue-100 bg-opacity-40;
}

.modal[open] {
  animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

.modal-backdrop[open] {
  @apply w-full min-h-screen;
  animation: fade-in 500ms forwards;
}

.modal-backdrop[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: slide-down 500ms forwards, fade-out 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(100%);
  }

  0% {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(-0%);
  }

  0% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-0%);
  }

  100% {
    transform: translateX(-100%);
  }
}