@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --code-color: black;
  --code-bg-color: rgba(59, 131, 246, 0.311);
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

body {
  color: rgba(2, 2, 2, 0.753);
  @apply bg-slate-50
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

.banner-image {
  background-image: repeating-linear-gradient(90deg,
      white,
      rgba(255, 255, 255, 0.671) 20px,
      rgba(59, 131, 246, 0.311) 20px,
      rgb(59, 131, 246, 0.311) 40px);
}

p, input, label, textarea, th, td,  button {
  @apply md:text-base text-sm
}

.btn-hover:hover {
  @apply bg-orange-200 bg-opacity-40 duration-150
}

.text-overflow {
  text-overflow: ellipsis;
}

.scroll-thin {
  scrollbar-width: thin;
}

.font-awesome-icon {
  @apply h-6 border-b-2 btn-hover p-2 m-1 rounded truncate hover:cursor-pointer
}

.nav-button {
  @apply border-b-2 btn-hover p-2 m-1 rounded truncate
}

.admin-button {
  @apply btn-hover p-1 rounded truncate
}

.input {
  @apply p-2 bg-slate-200 w-full  px-2 border-b-2 rounded
}

.modal {
  max-height: 90%;
  @apply absolute z-30 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded p-5 flex flex-col md:w-96 w-72
  
}

img, input, textarea {
  @apply resize-none focus:outline-4 focus:outline-blue-200
}