@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --code-color: black;
  --code-bg-color: rgba(59, 131, 246, 0.311);
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

body {
  color: rgba(2, 2, 2, 0.753);
  @apply bg-slate-50;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}


html, body {
  @apply md:text-base text-sm text-white;
  background-image: linear-gradient(black, rgb(53, 53, 53));
}

.banner-image {
  height: 30em;
}

.btn-hover {
  @apply text-white opacity-70;
}

.btn-hover:hover {
  @apply text-white opacity-100 duration-150;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text-overflow {
  text-overflow: ellipsis;
}

.scroll-thin {
  scrollbar-width: thin;
}

.font-awesome-icon {
  @apply h-6  btn-hover p-2 m-1 rounded truncate hover:cursor-pointer;
}

.nav-button {
  @apply  btn-hover p-2 m-1 rounded truncate hover:cursor-pointer;
}

.admin-button {
  @apply p-2 m-1 rounded truncate hover:cursor-pointer;
}

.admin-button:hover {
  @apply opacity-50;
}

.input {
  @apply p-2 bg-white border-b border-gray-500 px-2 outline-none;
}


img, input, textarea {
  @apply resize-none focus:outline-4
}

.input-login:-webkit-autofill,
.input-login:-webkit-autofill:hover, 
.input-login:-webkit-autofill:focus, 
.input-login:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: white;
}


.side-menu {
  right: 50%;
  @apply fixed inset-0 w-96 h-full overflow-x-scroll;
}

.side-menu[open] {
  animation: slide-right 1000ms forwards;
}

.side-menu[closing] {
  display: block;
  pointer-events: none;
  animation: slide-left 500ms backwards;
}

.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  
}

.modal-backdrop {
  @apply inset-0 bg-black -z-30;
}

.modal-backdrop-menu {
  @apply inset-0 bg-black bg-opacity-50;
}

.modal-backdrop[open] {
  @apply w-full fixed min-h-screen;
  animation: fade-in 500ms forwards;
}

.modal-backdrop-menu[open] {
  @apply w-full fixed min-h-screen;
  animation: fade-in 500ms forwards;
}

.modal[open] {
  animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

.modal-backdrop[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: slide-down 500ms forwards, fade-out 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(100%);
  }

  0% {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(-0%);
  }

  0% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-0%);
  }

  100% {
    transform: translateX(-100%);
  }
}